body {
  font-family: "Poppins", sans-serif;
}

h1 {
  background-color: rgb(164, 164, 207);
  padding: 10px;
}
h6 {
  font-weight: 600;
}

.mac-img {
  height: 300px;
  width: 300px;
}

#bold-line {
  height: 2px;
  color: black;
}
